<div id="modalThing" class="modal">
    <div class="modal-content">
        <h3>Enter thing information</h3>
        <div class="row">
            <form class="col s12">
                <div class="input-field col s12">
                    <input type="text" id="topic" class="validate" ng-model="topicThing" required
                           aria-required="true">
                    <label for="topic">Topic</label>
                </div>
                <div class="input-field col s12">
                    <input type="text" id="name" class="validate" ng-model="nameThing" required
                           aria-required="true">
                    <label for="topic">Name</label>
                </div>

                <div class="input-field col s12">
                    <select multiple id="typeOfThing" ng-model="typeOfThing">
                        <option value="" disabled selected> Choose type of thing</option>
                        <option value="Read">Read</option>
                        <option value="Write">Write</option>
                    </select>
                </div>
                <div class="input-field col s12">
                    <select id="outputTypeThing" ng-model="outputTypeThing">
                        <option value="" disabled selected> Choose output type of thing</option>
                        <option value="Boolean">Boolean</option>
                        <option value="Number">Number</option>
                        <option value="String">String</option>
                        <option value="Percentage">Percentage</option>
                    </select>
                </div>
                <div class="input-field col s12" ng-show="outputTypeThing==='Number'">
                    <input type="number" ng-model="valueNumber" id="valueNumber" class="validate">
                    <label for="valueNumber">Value</label>
                </div>
                <div class="input-field col s12" ng-show="outputTypeThing==='Percentage'">
                    <input type="number" ng-model="valuePercentage" id="valuePercentage" class="validate" min="0"
                           max="100">
                    <label for="valuePercentage">Value</label>

                </div>
                <div class="input-field col s12" ng-show=" outputTypeThing==='Number'">
                    <input type="number" ng-model="minValueNumber" id="minValueNumber" class="validate">
                    <label for="minValueNumber">Minimum Value</label>
                </div>
                <div class="input-field col s12" ng-show=" outputTypeThing==='Number'">
                    <input type="number" ng-model="maxValueNumber" id="maxValueNumber" class="validate">
                    <label for="maxValueNumber">Maximum Value</label>
                </div>
                <div class="input-field col s12" ng-show="outputTypeThing==='String'">
                    <input type="text" ng-model="valueString" id="valueString" class="validate">
                    <label for="valueString">Value</label>
                    <button class="waves-effect waves-green btn" ng-click="addOtherOption()">
                        Add input value
                    </button>
                </div>
                <div>
                    <div class="input-field col s12" ng-show="outputTypeThing==='String'"
                         ng-repeat="option in otherOptions">
                        <input type="text" ng-model="option.value" id="{{option.id}}" class="validate">
                        <label for="{{option.id}}">Other option</label>
                    </div>
                    <button class="waves-effect waves-green btn" ng-click="removeOption()"
                            ng-show="outputTypeThing==='String' && otherOptions.length>0">
                        Remove Input
                    </button>
                    <div class="input-field col s12" ng-show="outputTypeThing==='Boolean'">
                        <select ng-model="valueBoolean">
                            <option value="" disabled selected>Choose value of thing</option>
                            <option value="On">On</option>
                            <option value="Off">Off</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button class="waves-effect waves-green btn" ng-click="addThing()">
            Add Thing
        </button>
    </div>
</div>